body{
    background-image: linear-gradient(to right, #effcef, #e7f8e7, #def4e0, #d5f1d9, #ccedd2);
    padding-bottom: 100px;
}

.mainContent{
    margin: 20px 40px;
}

.titleAnchor{
    color: #000;
}

.titleAnchor:hover{
    color: #000;
    text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: #ccedd2;
    color: #655c56;
    width: 100%;
    text-align: center; 
    padding-top: 10px;
}

.postTitle{
    width: 100%;
}

.postContent{
    width: 100%;
    height: 200px;
}